.page-header
  %h2 #{fa_icon(:users)} Customers

- bootstrap_table headers:['Name', 'Surname', 'Actions'], types: [:striped, :hover, :bordered], html_options: {class: 'datatable'} do
  = render @customers