.page-header
  = link_to fa_icon('arrow-circle-left', text: 'Back'),customers_path, class: 'btn btn-default'
  %h1 Show Customer

%dl.dl-horizontal
  %dt Name:
  %dd= customer.name
  %dt Surname:
  %dd= customer.surname


= render 'activities/activities' , activities: customer.recent_activities

