.page-header
  %h1 Management Dashboard

.panel.panel-primary
  .panel-heading
    %h3.panel-title
      Users
      %span.badge=@users.length
  - bootstrap_table headers:['UserName', 'Email', 'Registered', 'Last Sign In' ,'Actions'], types: [:bordered, :striped] do
    = render @users

  .panel-footer
    = link_to 'Add User', new_user_path, class: 'btn btn-primary'




