%h3 Welcome #{@user.name}

%h5 You have been added to #{link_to @user.company, root_url(subdomain: @user.subdomain)} site.
%p
  Your credentials are:
  = @user.email
  = @password

%br/
%p Regards
%p Searle Consulting