.hero-unit
  %h1 Finished
  %br
  %h4 Your dropbox setup is now complete.

  %ul
    %li
      %p You can now upload and download files directly from your dropbox through EDC
    %li
      %p Link your dropbox files to your clients and applications and allow for easy retrieval

  %br
  = link_to 'Back to Home', root_path