%h2 Roles

- bootstrap_table headers:['Name', 'Number Of Users', 'Created'], types: [:bordered, :striped, :condensed] do
  - @roles.each do |role|
    %tr
      %td= role.name
      %td= role.user_count
      %td= role.created_at
      %td= link_to "Delete", role_path(role),icon: 'icon-remove',class: 'btn btn-danger',method: :delete

=link_to "Add role",  new_role_path, icon: 'icon-plus',class: 'btn btn-primary'