#errors
  - if object && object.errors.any?
    .panel.panel-danger
      .panel-heading
        = "#{pluralize(object.errors.count, 'error')} prevented this record from being saved:"
      .panel-body
        %ul.icons-ul.list-group
          = list_of(object.errors.full_messages) do |item|
            = fa_icon("exclamation-sign li", text: item)


