- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div{class: "#{flash_class(name)} alert-dismissable"}
      %button.close{aria_hidden: true, data: {dismiss:  :alert}, type: :button} &times;
      = content_tag :div, msg, :id => "flash_#{name}"
