= simple_form_for @account do  |f|
  %legend
    Setup your account
    %hr
  %fieldset
    = f.input :company
    = f.input :subdomain, hint: 'This will generate the site name you will use for your company eg. test.app.com'
  .controls
    = f.button :submit,'Create', class: 'btn btn-primary'